<ion-content color="primary">
    <div class="header">
        <ion-grid>
            <ion-row class="ion-text-left ion-align-items-center">
                <ion-col size="5">
                    
                    <h1>Relloz</h1>
                    
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    
    <div class="panel">
        <img src="https://i.imgur.com/RR1kuiS.png">
        

        <div>
            <p>Sua melhor forma de</p>
            <p class="p">organizar seu dia!!</p>
            <ion-button class="botao_entrar" color="medium" routerLink="/tela-inicial">
                Entrar
            </ion-button>
        </div>
        
    </div>
    
    

</ion-content>

  
  

